@charset "UTF-8";

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    overflow: hidden; /* Disable scrolling */
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding-top: 20px;
}

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li {
    margin-bottom: 10px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.user-links {
    /* Add styles for user links if needed */
}

.content-container {
    box-sizing: border-box;
    padding-left: 250px; /* Adjust to match the sidebar width */
}

.background-image {
    background-image: url('pic.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.signup-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 14px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #555;
}
